@import 'tailwindcss';


body{
  color: rgb(37, 37, 37);
}

.btn {
  padding: 8px 20px ;
  border-radius: 5px;
  border: 1px solid gray;
  transition: background-color .3s; 
  min-width: 100px;
}

.btn:hover {
  box-shadow: 5px 3px 5px #ddd;
  transform: translateX(-3px);
}
  

