@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

body{
  color: rgb(37, 37, 37);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

h1,h2,h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  padding: 6px 20px ;
  border-radius: 5px;
  border: 1px solid gray;
  transition: background-color .3s; 
  min-width: 100px;
  cursor: pointer;
  transition: transform .3s;
}

.btn-primary {
  background-color: var(--color-blue-500);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-blue-600);
}

.btn-primary:active {
  background-color: var(--color-blue-700);
}

.btn:hover {
  box-shadow: 5px 3px 5px #ddd;
  transform: translateX(-3px);
}

.input, textarea {
  display: block;
  width: 100%;
  padding: 3px 5px;
  outline: none;
  border: 1px solid var(--color-gray-500);
  border-radius: 5px;
}
  

